<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
    <% if (user) { %>
        <h1>Welcome, <%= user.member_username %>!</h1>
        <button><a href="/newmessage" class="button">Create Message</a></button>
        <button><a href="/logout">Logout</a></button>
    <% } else { %>
        <button><a href="/signup">Sign Up</a></button>
        <button><a href="/login">Log in</a></button>
    <% } %>
    </nav>
    <div class="container">
        <% if (messages.length>0){ %>
            <% messages.forEach(m =>{ %>
        <div class="messages">
            <h2 class="message <%= user ? '' : 'blurred' %>"><%= m.member_username %></h2>
            <p><%= m.message %></p>
            <p><%= m.message_date %></p>

        </div>
            <% }) %>
        <% } %>
    </div>
    
</body>
</html>